@using Pokedex.Models
@model Pokedex.ViewModels.PokemonViewModel
@{
    Layout = "_Layout";
}

<div class="dex-container" style="background-color: @Model.Color">
    <div class="dexcard-wrapper">
        <div class="shell-container">
        <div class="left-shell">
            <div class="innerleft-shell">
                <div class="buttons">
                    <div class="button-background"></div>
                    <div class="button-top button-background"></div>
                    <div class="button-left button-background"></div>
                    <div class="button-bottom button-background"></div>
                    <div class="button-right button-background"></div>
                </div>
            </div>
        </div>
        <div class="right-shell">
            <div class="innerright-shell">
                <div class="card">
                    <div>
                        <img src="@Model.ImageFront"/>
                    </div>
                    <div class="card-info">
                        <h1>Name: @Model.Name</h1>
                        <h2>Dex Number: @Model.Number</h2>
                        <h3>Type(s):</h3>
                        <ul>
                            @foreach (var type in Model.Types)
                            {
                                <li><b>@type.Type.Name</b></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="button-on button"></div>
                <div class="button-auto button"></div>
            </div>
        </div>
        </div>
    </div>
    <div class="image-container">
        <h2>Sprites:</h2>
        <img src="@Model.ImageFront" />
        <img src="@Model.ImageFemale" />
        <img src="@Model.ImageBack" />
        <img src="@Model.ImageFemaleBack" />
        <img src="@Model.ImageFrontShiny" />
        <img src="@Model.ImageFemaleShiny" />
        <img src="@Model.ImageBackShiny" />
        <img src="@Model.ImageFemaleBackShiny" />
    </div>

    <h3>Height: @Model.Height"</h3>
    <h3>Weight: @Model.Weight Ibs</h3>

    <h2>Dex Entries:</h2>
    @foreach (var flavorText in Model.FlavorText)
    {
        <p><b>@flavorText.Version.Name:</b></p>
        <p>@flavorText.Flavor_text</p>
    }
</div>